<h1>Rails Against Humanity</h1>
<hr/>
<p><em>Rails Against Humanity</em> is as stated on the front-page, a clone of the popular card game <em>Cards Against Humanity</em>.</p>
<p>The website/web-app is developed using Ruby on Rails (hence the name), and it's deployed to a heroku server. The code can also be found on bitbucket <a href="https://bitbucket.org/stroopwafelsquad/rails-against-humanity">here</a>.</p>
