var ruby_game_previews = $.parseHTML("<%= j render partial: 'game/game_preview', collection: @games, as: :game %>") || [];
var ruby_game_previews_count = ruby_game_previews.length / 2;
var game_preview_count = $(".game-previews").children().length;

var ruby_player_counts = [];

for (var i = 0; i < ruby_game_previews.length; i = i + 2) {
  ruby_player_counts.push($(ruby_game_previews[i]).find("span.player-count").html().match(/\d+/)[0]);
}

var player_counts = $(".player-count").map(function(i,obj){
  return $(obj).html().match(/\d+/)[0];
});

if (ruby_game_previews_count != game_preview_count ||
    ruby_player_counts.toString() != player_counts.toArray().toString()) {
  $('.game-previews').html(ruby_game_previews);
}

$('div[data-protected="true"] .game-preview-info').off('click')
  .on("click", function () {
    $(this).parent().children(".collapse").slideToggle();
  });

$('div[data-protected="false"] .game-preview-info').off('click')
  .on('click', function () {
    $(this).closest('form').submit();
  });
