<%= render partial: "game/game_modal" %>

<div class="jumbotron">
  <h1>Rails Against Humanity</h1>
  <p>A clone of the popular card game <em>Cards Against Humanity</em>.</p>
</div>

<div class="index-controls">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#game-modal">
    Create new game
  </button>

  <button type="button" class="btn btn-warning toggle-protected">
    Toggle password protected games
  </button>
</div>

<hr/>

<%= form_tag({action: "get_games", controller: "static_pages"}, method: :post, remote: true) do |f| %>
<% end %>
<div class="game-previews row">
  <%= render partial: "game/game_preview", collection: @games, as: :game %>
</div>
