<h1>How to play Cards/Rails Against Humanity</h1>
<hr/>
<p><em>Cards/Rails Against Humanity</em> is quite a simple game, and the ultimate goal of the game is to get as many people as possible to laugh.</p>
<p>At the beginning of each round, a black card is played. This is the "question" for the round, and your job is to come up with a funny response to the card. So respond to the card you simply click the white card you wish to play, and then click the big "play"-button.</p>
