<% for player in round %>
  <% if (!player[1].empty? rescue false) %>
  <%= form_for(@game, url: {action: "select_card"}, method: :post, remote: true) do |f| %>
  <%= hidden_field_tag :name, @game.name %>
  <%= hidden_field_tag :from, player[0] %>
  <%= hidden_field_tag :cards, player[1].to_json %>
  <% player[1].each do |card| %>
  <div data-player="<%= player[0] %>" class="col-xs-12 col-sm-4 col-lg-3 clearfix <%= 'inactive-' if session[:identity] != @game.card_czar %>player-card-set">
    <div class="square white-card" data-player="<%= player[0] %>">
      <div class="content">
        <p class="card-title"><%= raw card %></p>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  <% end %>
<% end %>
