<div class="modal" role="dialog" aria-labelledby="game-modal" id="game-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(controller: "game", action: "create") do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="game-create">Create a new game</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= label_tag :name %>
          <%= text_field_tag :name, nil, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password, nil, class: "form-control" %>
          <small>* leave blank for no password-protection</small>
        </div>
        <hr>
        <div class="form-group">
          <% @packs.each do |pack| %>
            <div class="form-group checkbox">
              <label>
                <%= check_box :pack, pack %> <%= pack %>
              </label>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Create new game", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
