<div class="game-preview col-xs-12 col-sm-6 col-lg-4">
  <div class="well" data-protected='<%= game.authenticate("") ? "false" : "true" %>'>
    <%= form_tag(controller: "game", action: "game") do |f| %>
    <div class="game-preview-info">
      <h4><%= game.name %></h4>
      <p>
         <%= raw "<span class='small label label-danger'>password protected</span>" if !game.authenticate("") %>
         <span class="label label-default small player-count"><%= pluralize(game.players.length, "player") %></span>
      <span class="label label-primary small"><%= pluralize(game.packs.length, "pack") %></span>
      </p>
    </div>
    <div class="game-preview-form collapse">
        <%= hidden_field_tag :name, game.name %>
        <% if game.authenticate("") %>
        <%= hidden_field_tag :password, "" %>
        <% else %>
        <div class="input-group">
          <%= password_field_tag :password, nil, placeholder: "password", class: "form-control" %>
          <span class="input-group-btn">
            <%= submit_tag "Enter", class: "btn btn-default" %>
          </span>
        </div>
        <% end %>
    </div>
    <% end %>
  </div>
</div>
