<div class="modal" role="dialog" aria-labelledby="nick-modal" id="nick-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(set_nick_path, method: :patch, remote: true) do |f| %>
      <%= hidden_field_tag :name, (@game.name rescue '') %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="game-create">Change Nick</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= label_tag :nick %>
          <%= text_field_tag :nick, session[:identity], class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Save", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
