<div class="col-sm-6 col-md-4">
  <div class="player well clearfix" data-player="<%= player %>">
    <div class="info"><p class="player-name"><%= raw player == session[:identity] ? "<a data-toggle='modal' data-target='#nick-modal'><span class='glyphicon glyphicon-pencil small'></span></a> <b>#{player}</b>" : player %></p>
      <span class="label label-default"><%= pluralize(@game.scores[player], "point") %></span>
      <% if @game.card_czar != player %>
        <% if @game.waiting_for_players.include? player %>
          <span class="label label-danger">not ready</span>
        <% else %>
          <span class="label label-success">ready</span>
        <% end %>
      <% elsif @game.card_czar == player and @game.waiting_for_players.length == 1 %>
        <span class="label label-danger">selecting</span>
      <% end %>
      <span class="label label-success"><%= "host" if player == @game.host %></span>
      <span class="label label-info"><%= "card czar" if player == @game.card_czar %></span>
    </div>
    <% if player != session[:identity] && @game.host == session[:identity] %>
      <%= form_for(@game, url: {action: "kick"}, method: :delete, remote: true) do |f| %>
        <%= hidden_field_tag :player, player %>
        <%= hidden_field_tag :name, @game.name %>
        <%= f.submit "Kick", class: "btn btn-warning" %>
      <% end %>
    <% elsif player == session[:identity] %>
      <%= form_for(@game, url: {action: "leave"}, method: :delete) do |f| %>
      <%= f.hidden_field :name %>
      <%= hidden_field_tag :id, session[:identity] %>
      <%= f.submit "Leave", class: "btn btn-warning" %>
      <% end %>
    <% end %>
  </div>
</div>
