<div class="col-xs-6 col-sm-4 col-lg-2 clearfix">
  <%= form_for(@game, url: {action: "play_card"}, method: :post, remote: true) do |f| %>
    <div data-card="<%= raw card.text rescue card %>"
         class="square <%= card.pick.nil? ? "white" : "black" rescue "white" %>-card
                       <%= "inactive-" if !@game.waiting_for_players.include?(session[:identity]) ||
                                          session[:identity] == @game.card_czar %>game-card">
      <div class="content">
        <p class="card-title"><%= raw card.text rescue raw card %></p>
        <%= hidden_field_tag :player, session[:identity] %>
        <%= hidden_field_tag(:card, (card.text rescue card)) %>
        <%= hidden_field_tag :name, @game.name %>
      </div>
    </div>
  <% end %>
</div>
