<%= render partial: "nick_modal" %>

<h1><%= @game.name %></h1>
<hr/>
<div class="players row">
  <%= form_for(@game, url: {action: "get_players"}, method: :post, remote: true) do |f| %>
    <%= f.hidden_field :name %>
  <% end %>
  <%= render partial: "game/player", collection: @game.players %>
</div>
<%= form_for(@game, url: {action: "get_cards"}, method: :post, remote: true) do |f| %>
  <%= f.hidden_field :name %>
<% end %>
<hr/>
<div class="row black-and-played">
  <%= render partial: "pack_viewer/card", object: @game.get_black_card, as: :card %>
  <div class="played-cards clearfix col-xs-6 col-sm-8 col-lg-9">
  <%= render partial: "game/czar_card",
      object: @game.round,
      as: :round %>
  </div>
</div>
<hr/>
<div class="row white-cards">
  <%= render partial: "game/white_card",
             collection: @game.decks[session[:identity]],
             as: :card %>
</div>
