// RUBY VARIABLE ASSIGNMENT
var black_card = $('.black-card .card-title').text();
var ruby_black_card = "<%= j @game.get_black_card.text %>";
var ruby_own_cards_played = "<%= j render partial: 'game/czar_card', object: {session[:identity]=>@game.round[session[:identity]]}, as: :round %>";
var ruby_played_cards = "<%= j render partial: 'game/czar_card', object: @game.round, as: :round %>";
var show_cards_played = "<%= @game.waiting_for_players.length == 1 %>" == "true";
var ruby_deck = <%= raw @game.decks[session[:identity]].as_json %>;
var ruby_deck_partial = "<%= j render partial: 'game/white_card', collection: @game.decks[session[:identity]], as: :card %>";
var ruby_cards_displayed = "<%= j @game.round.values.flatten.join '' %>";
var ruby_cards_played_players = <%= raw @game.round.keys.reject{|p|@game.round[p].length == 0}.as_json %>;
// END RUBY VARIABLE ASSIGNMENT

// CARDS PLAYED
var cards_displayed = $('.played-cards .card-title').text();
var cards_played_players = $('.played-cards .card-title').map(function () {
  return $(this).closest("[data-player]").data('player');
});

if (ruby_played_cards == "" && cards_displayed != ruby_cards_displayed) {
  $('.played-cards').html("");
} else if (show_cards_played == true && (cards_displayed != ruby_cards_displayed || ruby_cards_played_players.toString() != cards_played_players.toArray().toString())) {
  $('.played-cards').html(ruby_played_cards);
} else if (show_cards_played == false && ruby_own_cards_played != "" && cards_displayed != ruby_cards_displayed) {
  $('.played-cards').html(ruby_own_cards_played);
}
// END CARDS PLAYED

// DECK
var deck = $('.white-cards').children().children().children('div').map(function (i, elem) {
  return $(elem).data('card');
});

if (deck.toArray().toString() != ruby_deck.toString() ||
    black_card != ruby_black_card ||
    $('.white-cards input[name="player"]').first().val() != "<%= raw session[:identity] %>" ||
    $($.parseHTML(ruby_deck_partial)).find(".inactive-game-card").length != $('.inactive-game-card').length) {
  $('.white-cards').html(ruby_deck_partial);
}
// END DECK

// BLACK CARD
if (black_card != ruby_black_card) {
  $('.black-card').parent().remove();
  $('.black-and-played').prepend("<%= j render partial: '/pack_viewer/card', object: @game.get_black_card, as: :card %>").children('.black-card');
}
// END BLACK CARD

// apparently you need to redo this everytime you create .player-card-set elements
submitOnClick('.game-card,.player-card-set');
