var new_players = "<%= j render partial: '/game/player', collection: @current_game.players, as: :player %>";

var czar = null,
    host = null;

var players = [];

function getPlayerRoles () {
  $(".players .player").each(function (i, e) {
    if ($(e).css('display') != "none") {
      if ($(e).html().match('card czar')) {
        czar = $(e).data('player');
      }

      if ($(e).html().match('host')) {
        host = $(e).data('player');
      }

      players.push($(e).data('player'));
    }
  });
}

var player_scores = [];

function getScores () {
  player_scores = [];

  $(".players .player").each(function (i, e) {
    player_scores.push(Number($(e).html().match(/(\d+) points?/)[1]));
  });
}

var waiting_for_players = [];

function getWaitingForPlayers () {
  $('.player').each(function (i, e) {
    $(e).children('div.info').children('span.label').each(function (_i, _e) {
      if ($(_e).text() == "not ready") {
        waiting_for_players.push($(e).children('div.info').children('.player-name').text());
      }
    });
  });
}

var ruby_players = <%= raw @game.players.as_json %>;
var ruby_czar    = "<%= j @game.card_czar %>";
var ruby_host    = "<%= j @game.host %>";
var ruby_scores  = <%= raw @game.scores.values.to_json %>;
var ruby_waiting_for_players = <%= raw @game.waiting_for_players.reject { |p| p == @game.card_czar }.as_json %>;
var last_winner = "<%= j @game.last_winner.join("\", \"") %>";
var last_nick_change = <%= raw @game.last_nick_change.as_json %>;

getWaitingForPlayers();
getPlayerRoles();
getScores();

console.log(last_nick_change);

// flash for joining player
$(ruby_players).each(function (i, e) {
  if (players.indexOf(e) == -1 && last_nick_change.indexOf(e) == -1) {
    showFlash("notice", e + " has joined the game.");
  }
});

// flash leaving player
$(players).each(function (i, e) {
  if (ruby_players.indexOf(e) == -1 && last_nick_change.indexOf(e) == -1) {
    showFlash("notice", e + " has left the game.");
  }
});

// flashes for scores increasing
$(ruby_scores).each(function (i, e) {
  if (e != last_nick_change[0]) { // don't try to show awarded point because of "new user"
    if (player_scores[i] != e && '<%= session[:identity] %>' == players[i]) {
      showFlash("success", "You were awarded a point for \"" + last_winner + "\"!")
    } else if (player_scores[i] != e && e >= 1) {
      showFlash("notice", players[i] + " was awarded a point for \"" + last_winner + "\".")
    }
  }
});

// Array comparison is completely retarded in JavaScript,
// so we'll convert the arrays to strings for comparison
if (ruby_players.toString() != players.toString() ||
    host != ruby_host ||
    czar != ruby_czar ||
    waiting_for_players.toString() != ruby_waiting_for_players.toString()) {
  form = $('.players').children()[0];
  $('.players').html(new_players).prepend(form);
}
