<% flash.keys.each do |f| %>
  showFlash("<%= j f %>", "<%= j flash[f] %>");
<% end %>

$('[data-player="<%= params[:player] %>"]').fadeOut(function () {
  $(this).closest("[class *= 'col-']").remove();
});
