<% flash.keys.each do |f| %>
  showFlash("<%= j f %>", "<%= j flash[f] %>");
<% end %>

var ruby_card_played = <%= raw params[:card].inspect %>;

var ruby_own_cards_played = "<%= j render partial: 'game/czar_card', object: {session[:identity]=>@game.round[session[:identity]]}, as: :round %>";

// show card played
$('.played-cards').html(ruby_own_cards_played);

$('.white-cards').children().children().children('div').each(function (i, e) {
  if (ruby_card_played == $(e).data('card')) {
    <% if !flash[:alert] %>
      // fade out and remove
      $(e).parent().parent().remove();
    <% end %>
  }
});
