<div class="col-xs-6 col-sm-4 col-lg-3 clearfix">
  <div class="square <%= card.pick.nil? ? "white" : "black" rescue "white" %>-card">
    <div class="content">
      <p class="card-title"><%= raw card.text rescue raw card %></p>
      <% if (!card.pick.nil? rescue false) %>
        <hr>
        <p class="small">Pick <%= pluralize(card.pick, "card") %>.</p>
      <% end %>
    </div>
  </div>
</div>
