<h1>Packs</h1>
<hr/>
<p>All of our packs are retrieved from <a href="http://www.crhallberg.com/cah/json">this</a> site, so if you want to add more packs, contact that guy, and then contact us, so we can update our cache.</p>
<hr/>
<%= render partial: "pack", collection: @packs %>
