<h1>Showing cards for <b><%= @pack_name %></b></h1>
<h2>Black Cards | <%= pluralize(@pack[:black].size, "card") %></h2>
<hr/>
<div class="cards row">
  <%= render partial: "card", collection: @pack[:black] %>
</div>
<h2>White Cards | <%= pluralize(@pack[:white].size, "card") %></h2>
<hr/>
<div class="cards row">
  <%= render partial: "card", collection: @pack[:white] %>
</div>
