@import "bootstrap-sprockets";
@import "bootstrap";

.flash-notice {
    @extend .alert-info;
}

.flash-alert {
    @extend .alert-warning;
}

.flash-success {
    @extend .alert-success;
}

body {
    padding-bottom: 30px;
}

.flashes>* {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
}

/* Extra Small devices (phones, 0px and up)*/
@media (min-width: 0px) {
    div[class^="col-"]{padding-left:5px; padding-right:5px;}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    div[class^="col-"]{padding-left:5px; padding-right:5px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    div[class^="col-"]{padding-left:10px; padding-right:10px;}
}