// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
[class $= "game-card"] {
    cursor: pointer;
    transition: box-shadow 0.2s, color 0.3s, background 0.3s;

    &:hover {
        box-shadow: grey 2px 2px 10px;
    }

    &:active {
        color: white;
        background: black;
    }
}

.white-cards [class *= "inactive"] {
    cursor: not-allowed !important;

    &:hover {
        box-shadow: 0 0 0 #000;
    }
}

.played-cards [class *= "inactive"] {
    cursor: not-allowed !important;
}

.black-and-played form {
    cursor: pointer;
    & .square {
        transition: box-shadow 0.2s, color 0.3s, background 0.3s;
    }

    &:hover {
        & .square {
            box-shadow: grey 2px 2px 10px;
        }
    }

    &:active {
        & .square {
            background: black;
            color: white;
        }
    }
}

.player-name {
    margin-bottom: 5px;
}

.player .info {
    float: left;
}

.player form {
    float: right;
}

@media (max-width: 768px) {
    .player form {
        float: left;
        clear: both;
        margin-top: 10px;
    }
}
.black-and-played+hr {
    margin-top: 0;
}

.player .glyphicon-pencil {
    color: black;
    &:hover {
        cursor: pointer;
        color: inherit;
    }
}