// Place all the styles related to the PackViewer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($width / $height) * 100%;
    }

    > .content {
        position: absolute;
        top: 100;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 5%;
    }
}
.square {
    width: 100%;
    height: 100%;
    @include aspect_ratio(1,1);
    border-radius: 10px;

    & hr {
        margin: 5px 0px;
    }
}
@media (max-width: 768px) {
    .square p {
        font-size: 10px;
    }
}
*>.square {
    margin-bottom: 20px;
}
.black-card {
    color: white;
    background: black;
}
.white-card {
    border: 1px solid black;
}
.card-title {
    font-family: roboto;
    font-weight: 500;
}