// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-search {
    min-width: 100%;
}

.game-preview .well {
    cursor: pointer;

    & h4 {
        color: #337ab7;
    }

    &:hover h4 {
        color: darken(#337ab7, 15%);
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    .index-controls button:not(:last-child) {
        margin-bottom: 10px;
    }
}