<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(@title || '') %></title>

    <meta charset="utf-8">
    <meta name="description" content="Cards Against Humanity clone using Ruby on Rails">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <%= link_to("Rails Against Humanity", {controller: "static_pages", action: "index"}, class: "navbar-brand") %>

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li <%= active_class(action_name, 'index') %>><%= link_to("Play", {controller: "static_pages", action: "index"}) %></li>
            <li <%= active_class(action_name, 'instructions') %>><%= link_to("Instructions", {controller: "static_pages", action: "instructions"}) %></li>
            <li <%= active_class(action_name, 'about') %>><%= link_to("About", {controller: "static_pages", action: "about"}) %></li>
            <li <%= active_class(action_name, 'overview') %>><%= link_to("Card Packs", {controller: "pack_viewer", action: "overview"}) %></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="flashes clearfix">
        <% flash.each do |name, msg| %>
          <div class="alert flash-<%= name %>">
            <button type="button" class="close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= msg %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
